div #Contato{
    background-color: #6aaae1;
    font-size: 16px;
    text-align: center;   
    height: 20vh;
    padding: 20px;
    
    a.contato{
        img{
            width: 30px;
            margin: 5px
        }
        
    }
}