.header{
    background-color: #6aaae1;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;

    a#logo{
        margin: 10px;
        margin-right: 53rem;
    }
    
   /*nav{
        display: flex;
        align-items: center;
        margin-top: 10px;
        a.menu{
            display: inline;
            text-decoration: none;
            color:black;
            margin: 10px;
            
        }
        
    }*/
}